*{
  margin:0;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

dl {
  margin-top: 40px;
}

section {
  margin-bottom: 40px;
}

dt {
  font-weight: bold;
}

.hr-line {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0;
}

.hr-line dt:hover{
  animation: blink 1.5s linear infinite;
}

main div{
  margin-left: 5%;
  width: 90%;
}

main section{
  margin-left: 30%;
  border-style: groove;
  text-align: center;
  display: block;
  width: 40%;
}

.image{
  width: 100%;
  margin-top: 2%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
  margin: auto;
  border-collapse: collapse; 
}

table, td, th {
  border: 1px solid;
}

table caption {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 130%;
}

thead th {
  text-align: left;
  padding-bottom: 10px;
  text-align: center;
}

tbody td {
  padding-bottom: 10px;
  text-align: center;
}

thead tr th, tbody tr td{
  width: 12.5%;
}

table th{
  background-color: rgb(110, 114, 183);
}

table td{
background-color: #f9f9f9;
}

.section-header {
  margin-bottom: 40px;
}

.section-header h2 {
  font-size: 1rem;
  font-weight: bold;
}

.member{
  width: 20%;
  margin-left: 40%;
}

.member h4{
  border-top: 1px solid #0e1d34;
}

.member li{
  box-shadow: inset 0 0 0 0 #0e1d34;
  color: #0e1d34;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.member li:hover {
  box-shadow: inset 80rem 0 0 0 rgb(177, 177, 177);
  color: white;
}

.member:hover{
  box-shadow: 5px 5px 5px lightblue;
  transition: all 100ms ease;
  transform: scale(1.02);
}

.image{
  max-width: 60%;
  min-width: 40%;
}

section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 10px;
}

section ul li {
  margin-bottom: 5px;
}

dl{
  width: 100%;
  height: 360px;
}

dl section{
  padding: 20px;
  margin: 10px;
}

dt, dd{
  display: inline-block;
}
dt{
  margin-left: 2%;
}

dd{
  float: right;
  margin-right: 5%;
}

main h2, main h3{
  text-align: center;
}

/* IPAD */
@media (max-width: 1024px) {
  main section{
    width: 50%;
    margin-left: 25%;
  }
}

/* Phone */
@media (max-width: 770px) {
  img{
    max-width: 20%;
  }

  .section-header h2 {
    font-size: 24%;
  }

  section h3 {
    font-size: 20px;
  }

  main section{
    display: block;
    width: 50%;
    margin-left: 25%;
  }

  dd{
    text-align: right;
  }

  table{
    width: 200%;
  }
}

@keyframes blink{
  0%{opacity: 0.2;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

@media (max-width: 330px){
  header, dl, table, main, footer div, footer section, aside{
    font-size: 80%;
  }
}

@media (max-width: 270px){
  header, dl, table, main, footer div, footer section, aside{
    font-size: 70%;
  }
}

@media (max-width: 190px){
  #footer{
    display: block;
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 180px){
  header, dl, table, main, footer div, footer section, aside{
    font-size: 40%;
  }
}

@media (max-width:230px){
  table{
    width: 300%;
  }

  header, dl, table, main, footer div, footer section, aside{
    font-size: 60%;
  }
}

@media (max-width: 130px){
  header, dl, table, main, footer div, footer section, aside{
    font-size: 30%;
  }

  main section{
    width: 50%;
  }
}