/*Animation*/
button.apply-button:active{
    transform: scale(1.05);
}


button.apply-button:hover{
    animation: blink 1.5s linear infinite;
}


@keyframes blink{
    0%{opacity: 0.2;}
    50%{opacity: .5;}
    100%{opacity: 1;}
    }




    h3,h4 {
        box-shadow: inset 0 0 0 0 #0e1d34;
        color: #0e1d34;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      }
      h3:hover,h4:hover {
        box-shadow: inset 40rem 0 0 0 #0e1d34;
        color: white;
      }

*{

    font-family: "Roboto", serif;
}


.companyname {

    
    border-style: groove ;
   border-color: rgb(194, 193, 193);
    position: relative;
    transition: border-color 0.3s ease;
    padding: 10px;
    margin: 20px;

    max-width: 60%;

    

}


.companyname:hover {
    
    box-shadow: 5px 5px 5px lightblue;
    transition: 100ms;
    transform: scale(1.03);
}

/* Tạo viền quanh khung */


.companyname ul li{
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
}
.apply-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #45a049;
}


.companyname h2{
    font-size: large;
}
.companyname ul {
    display: block; /* Đặt thành phần tử khối, mỗi phần tử đứng trên một dòng riêng biệt */
    margin: 0; /* Loại bỏ margin mặc định của h2 và ul */
    padding: 0; /* Loại bỏ padding mặc định của h2 và ul */
}   

.companyname ul {
    list-style: none; /* Loại bỏ dấu chấm của danh sách */
}

.companyname ul li {
    margin-bottom: 8px; /* Khoảng cách giữa các mục danh sách */
}

.companyname ul li i {
    margin-right: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
}
.companyname img{
    width: 30%;
  height: auto;
    
}
.details{
     width: 80%;
     font-size: large;
     margin-left: 20px;
     
    

}
footer {
    background: #0e1d34;
    color: #c4c4c4;
    padding: 40px 0;
    text-align: left;
  }

@media only screen and (max-width:  1024px){
    .companyname{
        margin:0%;
        max-width: 60%;
        padding-right: 5% ;
        height: 20%;
        font-size: 20% ;
        margin-left: 7%;
        margin-left: 20px;
        font-size: small;
        
        
    }
    .companyname h2{
        font-size: 5%;
    }
    .apply-button{
        padding:0;
        font-size: small;}
    
    
    
    
}
@media only screen and (max-width:  200px){
   
    
     .companyname{
        
        
        padding:0;
        padding-right: 0;   
        font-size: small;
        margin: 2.5%;
        font-size: small;
        
        
    }  
    .companyname h2{
        font-size: 60%;
        


    }
    .companyname ul li{
        font-size: 50%;
    }
    .img{
        font-size: 20%;
    }
    .details{
        
        width: 70%;
        margin-left: 5px;
        font-size: 50%;
        
        
    }   
    .column1{
        padding-left: 0px;
        font-size: small;
    }
    .column1 h3{
        font-size: small;
    }
    .column1 h4{
        font-size: small;
    }
    .column1 ul li{
        font-size: small;

    }
    .column2{
        padding-left: 0px;
        font-size: small;
    }

    .apply-button{
        
        
        width: 20%;
        font-size: smaller;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .apply-button{
        font-size: 10%;
    }
   
    
    
}
@media screen and (max-width:  150px) {
    *{
        font-size: 24%;
    }
    .companyname{
        font-size: small;
        padding-right: px ;
    }
    .companyname h2{
        font-size: 30%;
    }
    .companyname ul li{
        font-size: smaller;
    }
    .details{
        
        width: 70%;
        margin-left: 0px;
        font-size: 50%;
        
        
    }   
    .column1{
        padding-left: 0px;
        font-size: small;
        
    }
    .column1 h3{
        font-size: 70%;
    }
    .column1 h4{
        font-size: 70%;
    }
    .column1 ul li{
        font-size: 70%;

    }
    .column2{
        padding-left: 0px;
        font-size: 90%;
    }
    .column2 h4{
        font-size: 90%;
    }
    .column2 ul li{
        font-size: 90%;
    }
    .column2 p {
        font-size: 0%;

    }
    
} 




