/* About Us*/


.text {
    position:relative;
    float:none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f7f7f8;
  }
  
.text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .about #text h2 {
    font-size: 16px;
  }

.info-container{

    padding: 40px;
    display: flex;
    
}

.column2 img{
  width: 100%;
  height:100%;
}

.column1{

    flex: 1;
    margin: 1%;
    margin-top: 10%;
    height: 60%;
}

.column1 img{
  max-width: 6rem;
  max-height: 6rem;
}
.column2{

    flex: 1;  
    height: 100%;
    display:block;
}


/*IPAD*/
/* @media(max-width: 1204px){
} */
/*BIG IPAD*/
@media(max-width: 1300px){
    
    .info-container {
        flex-direction:column;
        justify-content: space-around;
        gap: 20px;
        padding: 20px;
    }
    .column2{
        flex:2;
        height: 400px;

    }
}

/*PHONE*/
@media(max-width: 600px){
  .info-container {
    flex-direction:column;
    justify-content: space-around;
    gap: 20px;
    padding: 5%;
  }
.column2{
    flex:2;
    height: 400px;

  }

.team-mate{

  border-radius: 5px;

  padding: 50%;
  max-width: 100%;


  }

}

/*end phone*/


.list img{
    width: 3rem;
}

.list li{
    display: inline;
}


.statitics ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    /* padding: 60px; */


}
.statitics ul li {
    align-content: space-around;

    line-height: 50px;
    text-align: center;


}

.statitics ul li p{
    font-size: 5em;
    margin: 60px;
}

.statitics ul li hr{
    box-sizing: border-box;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width:20%;
    border-color:red;
}

/* About Us End*/

/* Our Team*/

.team{
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    justify-content: space-evenly;
    padding: 1rem;
}

.team-mate{
    border-style: groove;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    max-width: 16rem;
    /* max-width: 50%; */


}

.team-mate:hover{
    box-shadow: 5px 5px 5px lightblue;
    transition: all 100ms ease;
    transform: scale(1.02);
}

.team-mate img{
    width: 100%;

}

.team-info{
    padding-top: 20px;
    padding-bottom: 50px;
}




/* Our Team end*/

/* Faq*/
h1{
    /* padding: 20px; */
    
    text-align: center;
}



.faq{
  /* width: 60%;
  margin-left: 20%; */
    margin: 10px;
    text-align: center;
}


.faq label{
    width: 50%;
    display: inline-block;
    padding: 10px;
    background-color: aliceblue;
}

.faq div{
    color:rgb(0, 0, 0);

    background-color:  aliceblue;;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 20;
    width: 50%;
    *{
        opacity:0;
    }
}

input{
    display: none;
    &:checked+ label + div{
        display:block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        visibility: visible;
        opacity: 1;
        padding: 20px;
        transition: all 120ms ease;
    }
    &:checked+ label::after {
        content: "\268A";
    }

}

/* Animation*/

.info,.about,.team,.faq {
  opacity: 0;
  transform: translateY(20px);
  animation: fade-in 1s ease-out forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  

#countdown1,
#countdown2,
#countdown3,
#countdown4{
  animation: counter 1.5s  alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 5rem system-ui;
  padding: 1rem;
  
}


#countdown1::before,
#countdown2::before,
#countdown3::before,
#countdown4::before{
  content: counter(num);
}

#countdown1 { --num:101; }
#countdown2 { --num:120; }
#countdown3 { --num:204; }
#countdown4 { --num:60; }

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}




#countdown1:hover,
#countdown2:hover,
#countdown3:hover,
#countdown4:hover {
  animation-name: counter-hover;
}

@keyframes counter-hover {
  from {
    --num: 60; 
  }
  to {
    --num: 204;
  }
}



/*hover*/

.glow {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  clip-path: circle(100% at 50% 50%);
  z-index: -1;
}

.statitics ul li:hover h{
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 770px){
  .faq label {
    width: 100%;
  }
.faq div{
  max-width: 100%;
  }
}